<html>

<head>
</head>

<body>
  <div class="top-container">
    <h1>Pizza Hub</h1>
  </div>
  <nav class="navbar navbar-expand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" ><a class="nav-link" href="#f" id="colarr">Famous Pizza</a></li>
        <li class="nav-item"><a class="nav-link" href="#o" id="colarr">Offers</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/register']" id="colarr">Register</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" id="colarr">Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="header">
    <div class="animated pulse infinite">
      <h1 id="hdr" style="padding-left: 10%; padding-top:20%;" class="display-3">it’s pizza time!!</h1>
    </div>
  </div>


  <footer>
    <div class="scrolltop float-right">
      <i class="fa fa-arrow-up " onclick="topFunction()" id="mybtn"></i>
    </div>
  </footer>

</body>

</html>