<body>
  <section class="qu" id="o">
    <div class="main-container">
      <div class="container">
          <h1 style="text-align: center;">Special Offers</h1>
          <h1></h1>
          <div class="row">
              <div class="col-4">
                  <div class="card" id="card">
                      <div class="card-header">
                          <div class="card-title">
                              <h3>Wednesday</h3>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-text"></div>
                          <h4 class="discount">Get Discount up to 51%</h4>
                      </div>
    
                      <div class="card-footer">
                          <h4>Purchase</h4>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title">
                              <h3>Saturday</h3>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-text"></div>
                          <h4 class="discount">Get Discount up to 51%</h4>
                      </div>
                      <div class="card-footer">
                          <h4>Purchase</h4>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title">
                              <h3>Sunday</h3>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-text"></div>
                          <h4 class="discount">Get Discount up to 51%</h4>
                      </div>
                      <div class="card-footer">
                          <h4>Purchase</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
</body>